@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/roboto-variable.woff2");
}

@font-face {
  font-family: "Archivo";
  src: url("/fonts/ArchivoBlack-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/fonts/montserrat-variable.woff2");
}

@font-face {
  font-family: "Bebas";
  src: url("/fonts/BebasNeue-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

:root {
  --light-grey: rgb(228, 228, 228);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  margin-top: 3rem;
}

li {
  list-style-type: none;
}
